@import "styles/_variables.scss";

$button-primary-color: $doger-blue-color;
$button-primary-background-color: $white-color;

$button-large-width: 248px;
$button-large-height: 44px;
$button-large-font-size: 18px;
$button-large-border-radius: 4px;

.button {
  border: none;
  cursor: pointer;
}

.primary {
  background-color: $button-primary-color;
  color: $button-primary-background-color;
}

.large {
  width: $button-large-width;
  height: $button-large-height;
  font-size: $button-large-font-size;
  border-radius: $button-large-border-radius;
}