@import "styles/_variables.scss";

$height: 37px;
$input-button-color: $whisper-color;
$input-color: $primary-color;
$input-placeholder-color: $secondary-color;
$input-font-size: 18px;
$input-width: 100%;
$search-input-width: 42px;

.input {
  border: none;
  width: $input-width;
  height: $height;
  font-size: $input-font-size;
  color: $input-color;
  outline: none;

}

.input::placeholder {
  color: $input-placeholder-color;
  font-weight: 200;
  opacity: 1;
}

.searchButton {
  width: $search-input-width;
  height: $height;
  border: none;
  background: url("/images/ic_Search.png") no-repeat center $input-button-color;
  cursor: pointer;
  color: transparent;
}