//COLOR PALETTE
$whisper-color: #EEEEEE;
$golden-yellow-color: #FFE600;
$night-rider-color: #333333;
$nobel-color: #999999;
$dim-gray-color: #666666;
$white-color: #FFFFFF;
$white-smoke-color: #F7F7F7;
$doger-blue-color: #3483FA;

//SYSTEM COLORS
$background-color: $whisper-color;
$background-accent-color: $golden-yellow-color;
$background-content-color: $white-color;
$primary-color: $night-rider-color;
$secondary-color: $nobel-color;
$tertiary-color: $dim-gray-color;

$border-color: $white-smoke-color;
